<div class="container">
  <div class="user-overwiev">
      <h2>Piotr Kowalski</h2>
      <div class="user-img">
          <img src="" alt="" style="width: 200px; height: 200px;">
      </div>
      <div class="user-info">
          <table>
              <tr>
                  <th colspan="3">Informacje kontaktowe</th>
              </tr>
              <tr>
                  <td>e-mail:</td>
                  <td>piotr.kowalski@firma.pl</td>
              </tr>
              <tr>
                  <td>telefon</td>
                  <td>+48 500 232 222</td>
              </tr>
              <tr>
                  <td>skype</td>
                  <td>pelpele</td>
              </tr>
              <tr>
                  <td>Identyfikator</td>
                  <td>A11B2232</td>
              </tr>
          </table>
          <table>
              <tr>
                  <th colspan="3">Ogólne informacje </th>
              </tr>
              <tr>
                  <td>Stanowisko:</td>
                  <td>programista</td>
              </tr>
              <tr>
                  <td>Dział:</td>
                  <td>wsparcie telefoniczne</td>
              </tr>
              <tr>
                  <td>Przełożony</td>
                  <td>Marek Kowalski</td>
              </tr>
              <tr>
                  <td>Identyfikator</td>
                  <td>A11B2232</td>
              </tr>
          </table>
      </div>
  </div>
  <div class="user-activity">
      <div class="card card-1">Informacje</div>
      <div class="card card-2">Zadania</div>
      <div class="card card-3">Raport Miesieczny</div>
      <div class="card card-4">Ostrzeżenia</div>
      <div class="activity">
          <div class="toolbar-activity">
              Aktywność
          </div>
      </div>
  </div>
</div>
