.sidenav-container {
  height: 100%;
}

.sidenav-hidden {
  background-color: #1d2b36 !important;
  width: 200px;
}

.sidenav {
  background-color: #1d2b36 !important;
  width: 60px;
}

::ng-deep .nav-mat-menu {
  border-radius: 0px;
  background-color: #1d2b36 !important;
  color: white;
}

::ng-deep .mat-menu-item {
  color: white;
}

.mat-menu-trigger {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  left: unset !important;
}

.mat-toolbar {
  background-color: #1d2b36 !important;
  color: white;
  height: 7vh;
}

.mat-drawer-side {
  border-right: unset;
}

a {
  color: white!important;
}

.mat-nav-height {
  color: white!important;
  margin-top: 150px;
}

.sidenav .mat-toolbar .sidenav-hidden {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-toolbar {
  background-color: #f3f3f4!important;
  color: black!important;
  border-bottom: 1px solid rgb(197, 191, 191)!important;
}

.example-spacer {
  flex: 1 1 auto;
}
