<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list class="mat-nav-height">
          <a mat-list-item>
              <mat-icon aria-hidden="false" aria-label="Example home icon" (click)='navigateHome()'>home</mat-icon>
          </a>
          <a mat-list-item (click)='onEmployeeIconClick(menuTrigger)'>
              <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
              </div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
          </a>
          <mat-menu #menu="matMenu" class="nav-mat-menu">
              <button mat-menu-item (click)='navigateEmployee()'>Lista pracowników</button>
              <button mat-menu-item (click)='navigateAddEmployee()'>Profil pracownika</button>
          </mat-menu>
          <mat-nav-list class="sidenav-submenu" *ngIf="showEmployeeMenu">
              <a mat-list-item>
                  <mat-icon>arrow_right</mat-icon>
              </a>
              <a mat-list-item>
                  <mat-icon>arrow_right</mat-icon>
              </a>
          </mat-nav-list>
          <a mat-list-item (click)='onPresentIconClick(menuTrigger2)'>
              <div #menuTrigger2="matMenuTrigger" [matMenuTriggerFor]="menu2"></div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
          </a>
          <mat-menu #menu2="matMenu" class="nav-mat-menu">
              <button mat-menu-item (click)='navigatePreseceList()'>Lista obecności</button>
              <button mat-menu-item (click)='navigateAbsenceList()'>Lista nieobecnosci</button>
          </mat-menu>
          <mat-nav-list class="sidenav-submenu" *ngIf="showPresentMenu">
              <a mat-list-item>
                  <mat-icon>arrow_right</mat-icon>
              </a>
              <a mat-list-item>
                  <mat-icon>arrow_right</mat-icon>
              </a>
          </mat-nav-list>
          <a mat-list-item>
              <mat-icon aria-hidden="false" aria-label="Example home icon" (click)='navigateRFID()'>credit_card</mat-icon>
          </a>
          <a mat-list-item>
              <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #drawer class="sidenav-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
              <mat-toolbar>SYSTEM RCP</mat-toolbar>
              <mat-nav-list class="mat-nav-height">
                  <a mat-list-item (click)='navigateHome()'>Home</a>
                  <a mat-list-item (click)='showEmployeeMenu=!showEmployeeMenu'>
                    Pracownicy
                    <span class="example-spacer"></span>
                    <mat-icon *ngIf="!showEmployeeMenu">chevron_right</mat-icon>
                    <mat-icon *ngIf="showEmployeeMenu">expand_more</mat-icon>
                  </a>
                  <mat-nav-list class="sidenav-submenu" *ngIf="showEmployeeMenu">
                      <a mat-list-item (click)='navigateEmployee()'>
                        Lista pracowników
                      </a>
                      <a mat-list-item (click)='navigateAddEmployee()'>
                        Profil pracownika
                      </a>
                  </mat-nav-list>
                  <a mat-list-item (click)='showPresentMenu=!showPresentMenu'>
                    Obecność
                    <span class="example-spacer"></span>
                    <mat-icon *ngIf="!showEmployeeMenu">chevron_right</mat-icon>
                    <mat-icon *ngIf="showEmployeeMenu">expand_more</mat-icon>
                  </a>
                  <mat-nav-list class="sidenav-submenu" *ngIf="showPresentMenu">
                      <a mat-list-item (click)='navigatePreseceList()'>
                      Lista obecności
                      </a>
                      <a mat-list-item (click)='navigateAbsenceList()'>
                      Lista nieobecnosci
                      </a>
                  </mat-nav-list>
                  <a mat-list-item (click)='navigateRFID()'>Czytnik</a>
                  <a mat-list-item (click)='navigateSettings()'>Ustawienia</a>
              </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
              <mat-toolbar class="main-toolbar">
                  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onSideNavClick(drawer)">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
                  <span>SystemRCP</span>
              </mat-toolbar>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
